.app-container {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.search-form input, .add-form input {
    border: 1px solid #3d4c5a;
    border-radius: 0.125rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.search-form button, .add-form button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background: #16a34a;
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
}

.sort-form, .add-form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sort-form {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.books-list {
    list-style: none;
    padding: 0;
}

.books-list li {
    border: 1px solid #f1f5f9;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.books-list h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #334155;
    margin-bottom: 0.2rem;
}


.books-list h5 {
    font-size: 1rem;
    margin: 0;
    color: #6b7280;
    font-weight: normal;
}